@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  :root {
    --text: #3e3f3f;
    --background: #f6f5fb;
    --primary: #becbd7;
    --secondary: #3c6289;
    --accent: #e3edf8;
  }

  .dark {
    --text: #e5f5f2;
    --background: #030806;
    --primary: #43a894;
    --secondary: #2b4e69;
    --accent: #394f8e;
  }
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background-color: var(--background);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--accent);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--secondary);
}

input {
  outline: none;
}

textarea {
  outline: none;
}

select {
  outline: none;
}
