.custom-slider {
  width: 100%;
  height: 5px;
}
.custom-slider .slider-track {
  top: 0;
  height: 5px;
  border-radius: 2px;
}
.custom-slider .slider-thumb {
  top: 50%;
  transform: translateY(-50%);
  height: 1.5rem;
  width: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.custom-slider .slider-mark {
  top: 50%;
  transform: translateY(-50%);
}

.slider-track {
  background: rgb(209, 213, 219);
}
.slider-track.slider-track-1 {
  background: var(--secondary);
}
.slider-track.slider-track-2 {
  background: rgb(209, 213, 219);
}

.slider-thumb {
  font-size: 0.75rem;
  font-weight: 600;
  text-align: center;
  background-color: var(--accent);
  color: #fff;
  cursor: pointer;
}
.slider-thumb:focus,
.slider-thumb:focus-visible {
  outline: none;
}

.slider-mark {
  width: 0.35rem;
  height: 0.35rem;
  background-color: #fff;
  cursor: pointer;
  border-radius: 50%;
  vertical-align: middle;
}
